{% extends "front-office/base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('code/front-office/css/custom/carousel.css') }}">
<link rel="stylesheet" href="{{ asset('code/front-office/css/custom/footer.css') }}">
{% endblock %}

{% block navbar %}
{% include "front-office/shared/_connexion.html.twig" %}
{% include "front-office/shared/_navbar.html.twig" %}
{% endblock %}

{% block body %}
<!-- Main image carte cadeau -->
{% include "briques/_main-img-text-r.html.twig" %}

<!-- FIlArianne -->
{% include "briques/_fil-arianne.html.twig" %}

<!-- Card -->
<div class="container">
    <div class="row pb-5">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card bg-none border-none mb-2">
                <img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index" alt="...">
                <div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
                    <h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Photos de groupe & portraits</h5>
                    <p class="card-text text-center text-sb-gray-d fw-bold h4">129&euro;</p>
                    <p class="card-text text-center text-sb-gray-d">- 1h de maquillage<br>- 1h de maquillage<br>- 1h de
                        maquillage</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card bg-none border-none mb-2">
                <img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index" alt="...">
                <div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
                    <h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Photos de groupe & portraits</h5>
                    <p class="card-text text-center text-sb-gray-d fw-bold h4">129&euro;</p>
                    <p class="card-text text-center text-sb-gray-d">- 1h de maquillage<br>- 1h de maquillage<br>- 1h de
                        maquillage</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card bg-none border-none mb-2">
                <img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index" alt="...">
                <div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
                    <h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Photos de groupe & portraits</h5>
                    <p class="card-text text-center text-sb-gray-d fw-bold h4">129&euro;</p>
                    <p class="card-text text-center text-sb-gray-d">- 1h de maquillage<br>- 1h de maquillage<br>- 1h de
                        maquillage</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card bg-none border-none mb-2">
                <img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index" alt="...">
                <div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
                    <h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Photos de groupe & portraits</h5>
                    <p class="card-text text-center text-sb-gray-d fw-bold h4">129&euro;</p>
                    <p class="card-text text-center text-sb-gray-d">- 1h de maquillage<br>- 1h de maquillage<br>- 1h de
                        maquillage</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card bg-none border-none mb-2">
                <img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index" alt="...">
                <div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
                    <h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Photos de groupe & portraits</h5>
                    <p class="card-text text-center text-sb-gray-d fw-bold h4">129&euro;</p>
                    <p class="card-text text-center text-sb-gray-d">- 1h de maquillage<br>- 1h de maquillage<br>- 1h de
                        maquillage</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OU -->
<div class="row w-100 text-center">
    <h1>OU</h1>
</div>

<!-- CoffretPersonnalisé -->
<div class="container my-5 pt-1">
    <div class="card bg-sb-white text-sb-white w-100">
        <img class="card-img img-fluid" src="{{ asset('ressources/img/gallery/bandeau.jpg') }}" alt="#">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h3 class="card-title fw-bold">Coffret personnalisé</h3>
        </div>
    </div>
    <div class="row my-5 pt-4">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus minima hic sapiente voluptatum cumque
                autem pariatur facilis cupiditate nam veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corrupti laborum dolores, mollitia nostrum nobis numquam, eum quaerat et sit eius sequi dolorem hic?
                Sapiente, a! Unde atque, temporibus maxime non, recusandae sapiente voluptatum at, perspiciatis rerum
                itaque molestias quas a sed officia dolore obcaecati accusamus quidem beatae aspernatur labore? Delectus
                cumque quo voluptatem illum? Quae illum dicta dolores sed. Numquam. Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Fugit, in! Repellat esse magnam facilis voluptatum.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, qui in officiis blanditiis odio dolorum
                tempora aut soluta id nemo esse voluptatem debitis similique, facere repudiandae eius quod aspernatur
                dolorem et quia deleniti itaque perspiciatis, placeat molestias. Vitae, doloremque aliquid magnam
                minima, sit quis dolores quidem in, illum eos nihil provident similique aut soluta temporibus quas quae
                eum et voluptas incidunt aspernatur labore vel. Doloribus explicabo excepturi quos incidunt nesciunt
                atque laborum eos laudantium praesentium.</p>
        </div>
    </div>
</div>

<!-- gray card -->
{# <div class="container-fluid bg-lightgray my-5 p-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-black mb-4">Charger la carte cadeau</h3>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>50&euro;</h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>100&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>150&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>200&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>250&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>300&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>350&euro;<h5>
            </button>
        </div>
        <div class="col p-1">
            <button class="btn btn-light rounded-pill text-primary w-100 pt-3" style="border: 3px solid #0000CE;">
                <h5>400&euro;<h5>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>Total : 150&euro;</h3>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <button class="btn btn-primary text-light rounded-pill">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div> #}

<!-- BandeauCadeau -->
<img src="{{ asset('ressources/img/gallery/bandeau.jpg') }}" alt="" class="img-fluid">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h2>Le shooting est pour offrir en cadeau ?</h2>
            <p>Vous n'aurez qu'à choisir l'option cadeau sur la page du shooting choisi. Le coffretsera disponible en
                verison numérique ou en coffret cadeau.</p>
        </div>
    </div>
</div>

<!-- PhotosShooting -->
{% include "briques/_carrousel-photo-x4.html.twig" %}

<!-- contactSection -->
<div class="container mt-5">
    <div class="row d-flex align-items-end justify-content-center pt-4">
        <div class="col-12 col-md-5">
            <p class="text-sb-gray-d fs-5">Vous avez une question ?</p>
            <h4 class="text-sb-gray-d fs-3 fw-bold">N'hésitez pas à nous contacter !</h4>
        </div>
        <div class="col-12 col-md-5 pt-3 d-flex align-items-end">
            <button class="btn rounded-pill btn-outline-sb-blue-energy btn-outline-wide mx-2">
                <span class="fw-bold h6">Formulaire de contact</span>
            </button>
            <button class="btn btn-sb-orange text-sb-white rounded-pill mx-2 fs-5">
                A
            </button>
            <button class="btn btn-success text-sb-white rounded-pill mx-2 fs-5">
                A
            </button>
            <button class="btn btn-sb-blue-l text-sb-white rounded-pill mx-2 fs-5">
                A
            </button>
        </div>
    </div>
</div>

{% include "front-office/shared/_footer.html.twig" %}

{% endblock %}

{% block scripts %}
<script src="{{ asset('code/front-office/js/custom/onScroll.js') }}"></script>
{% endblock %}