<nav class="navbar navbar-expand-lg navbar-dark fixed-top" aria-label="Navbar Studio Bontant">
	<div class="container">
		<div class="collapse navbar-collapse">
			<a class="navbar-brand" href="#">
				<img src="{{ asset('ressources/logo/Picto_blanc.png') }}" height="40" alt="">
			</a>
			<ul class="navbar-nav me-auto mb-lg-0">
				<li class="nav-item">
					<a href="{{ path('home') }}" class="fw-bold fs-6 btn btn-link dropdown-toggle text-white navlink"
						role="button">Accueil</a>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<button class="fw-bold fs-6 btn btn-link dropdown-toggle text-white navlink" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Pour les particuliers
						</button>
						<div class="dropdown-menu border-none square-border navbar-adjustment p-3"
							aria-labelledby="dropdownMenuButton" id="navbar-adjustment2">
							<div class="d-flex">
								<div>
									<h6 class="text-sb-orange">NOS SHOOTINGS PHOTO</h6>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Groupe -
										Famille</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Femme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Duo -
										Couple</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Homme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Grossesse</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Coffret personnalisé</a>
								</div>
								<div>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Groupe -
										Famille</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Femme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Duo -
										Couple</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Homme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Grossesse</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Coffret personnalisé</a>
								</div>
								<div>
									<h6 class="text-orange">NOS SHOOTINGS PHOTO</h6>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Groupe -
										Famille</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Femme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Duo -
										Couple</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Homme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Grossesse</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Coffret personnalisé</a>
								</div>
								<div>
									<h6 class="text-orange">NOS SHOOTINGS PHOTO</h6>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Groupe -
										Famille</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Femme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Duo -
										Couple</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Homme</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Shooting photo Grossesse</a>
									<a class="dropdown-item" href="{{ path('contact') }}">Coffret personnalisé</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<button class="fw-bold fs-6 btn btn-link dropdown-toggle text-white navlink" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Pour les entreprises
						</button>
						<div class="dropdown-menu border-none square-border navbar-adjustment"
							aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{ path('contact') }}">Photos portraits et groupe</a>
							<a class="dropdown-item" href="{{ path('contact') }}">Reportage photo</a>
							<a class="dropdown-item" href="{{ path('contact') }}">Photographe événementiel</a>
							<a class="dropdown-item" href="{{ path('contact') }}">Location de photobooth</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<button class="fw-bold fs-6 btn btn-link dropdown-toggle text-white navlink" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Le studio photo
						</button>
						<div class="dropdown-menu border-none square-border navbar-adjustment" id="navbar-adjustment"
							aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{ path('a-propos') }}">A propos</a>
							<a class="dropdown-item" href="{{ path('equipe') }}">L'équipe</a>
							<a class="dropdown-item" href="{{ path('galerie') }}">Galerie Photo</a>
							<a class="dropdown-item" href="{{ path('seance') }}">Comment se passe une séance</a>
							<a class="dropdown-item" href="{{ path('nous') }}">Votre photographe à Paris</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a href="{{ path('contact') }}" class="fw-bold fs-6 btn btn-link dropdown-toggle text-white navlink"
						role="button">Contact</a>
				</li>
			</ul>
			{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				Connexion
			</button> #}
			<button type="button" class="btn" data-bs-target="#monCompte" data-bs-toggle="modal">
				USER
			</button>
			<button type="button" class="btn btn-sb-orange text-white rounded-pill fw-bold">
				01 43 45 75 65
			</button>

		</div>
	</div>
</nav>