{% extends "admin/app-core.html.twig" %}

{% block stylesheets %}
<link
    href="{{ asset('code/admin/admin-bootstrap-pack/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}"
    rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#"></a>Site web</li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('adminGalerie') }}">Gestion galeries</a></li>
{% endblock %}

{% block content %}
<!-- Success -->
{% for msg in app.session.flashBag.get('success') %}
<div class="alert alert-success">
    {{ msg }}
</div>
{% endfor %}
<!-- DataTables -->
<div class="card">
    <div class="border-bottom title-part-padding d-flex flex-row justify-content-start align-items-center">
        <h4 class="card-title mb-0">Gestion galeries</h4>
        <a href="{{ path('adminGalerieAdd') }}" class="btn px-4 rounded-pill btn-info mx-4" role="button">Ajouter une
            Galerie</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                <thead>
                    <!-- start row -->
                    <tr>
                        <th class="sorting">Id</th>
                        <th class="sorting">Libellé</th>
                        <th class="sorting">Description</th>
                        <th class="sorting">Dimension X</th>
                        <th class="sorting">Dimension Y</th>
                        <th class="sorting">Actif</th>
                        <th>Options</th>
                    </tr>
                    <!-- end row -->
                </thead>
                <tbody>
                    <!-- start row -->
                    {% for galerie in galeries %}
                    <tr>
                        <td>{{ galerie.id }}</td>
                        <td>{{ galerie.lbl }}</td>
                        <td>{{ galerie.description }}</td>
                        <td>{{ galerie.dimensionX }}</td>
                        <td>{{ galerie.dimensionY }}</td>
                        <td><strong>{% if galerie.actif == 1 %}
                                <font color="green">oui</font>
                                {% else %}
                                <font color="red">non</font>
                                {% endif %}</strong>&nbsp;&nbsp;<i class="fas fa-sync-alt"></i></td>
                        <td>
                            <a href="{{ path('adminGalerieEdit', {'id': galerie.id}) }}"
                                class="btn px-2 rounded-pill btn-success" role="button"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="btn px-2 rounded-pill btn-danger" role="button"><i
                                    class="fas fa-trash"></i></a>
                            <a href="{{ path('adminGaleriePhotos', {'id': galerie.id}) }}" class="btn px-2 rounded-pill btn-success" role="button"><i
                                    class="far fa-images"></i><i class="far fa-level-down-alt"></i></a>
                            {# double vérification avant suppression ? Via un modal ? #}
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- end row -->
                </tbody>
                <tfoot>
                    <!-- start row -->
                    <tr>
                        <th>Id</th>
                        <th>Libellé</th>
                        <th>Description</th>
                        <th>Dimension X</th>
                        <th>Dimension Y</th>
                        <th>Actif</th>
                        <th>Options</th>
                    </tr>
                    <!-- end row -->
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script
    src="{{ asset('code/admin/admin-bootstrap-pack/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}">
</script>
<script src="{{ asset('code/admin/admin-bootstrap-pack/dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
<script type="text/javascript">
    $('#zero_config').DataTable();
</script>
{% endblock %}