<div class="container py-5">
	<h2 class="fw-bold text-sb-gray-d py-2">Des photos pour le plaisir, ou pour tout usage !</h2>
	<div class="row pb-2">
		<p class="text-sb-gray-d fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione ipsa, fuga
			explicabo cumque nemo
			illum harum quidem beatae doloremque odit.</p>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
		<div class="col-12 col-sm-6 col-md-2 d-flex justify-content-center">
			<img src="{{ asset('ressources/logo/logo_bleu.png') }}" height="125" alt="">
		</div>
	</div>
</div>